.background-image{
    width: 100%;
    height: 490px;
    background-image: url('./../../../../assets/imgs/background.jpg');
    background-size: cover;
}
.background-text{
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.background-button{
    /* width: 400px; */
    padding: 0 70px;
    height: 60px;
    border-radius: 50px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color:#0687ff;
}
.d-v-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-title{
 font-family: Helvetica;
 font-size: 14px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: center;
 color: black;
}
.content{
    padding: 100px 0;
}
.title{
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    margin-top: 27px;
}
.divider {
    width: 40px;
    height: 8px;
    background-color: #39dfdb;
    margin: 65px 0;
}
.resolution-box{
    width: 100%;
    background-color:#43b5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 370px;
    margin: 5px 0;
}
.trim-box {
    background-color: #39dfdb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 370px;
    margin: 5px 0;
}

.cropping-box {
    background-color: #43b5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 370px;
    margin: 5px 0;
}
.box-title {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    margin: 30px 0;
}
.box-text{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: black;
}
.example-videos {
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}
.description{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: black;
}
.messi-div{
    width: 100%;
    height: 230px;
    background-image: url('./../../../../assets/imgs/messi.png');
}
.custom-row{
    padding: 0 35px;
}
.ironman-img{
    width: 100%;
    height: 480px;
}
.messi-img{
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.iphone-flex{
    display: block;
}
.footer{
    background-color:#2e2e2e;
    padding: 70px 0;
}
.footer-title{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: white;
}
.footer-divider{
     width: 40px;
     height: 4px;
     background-color:white;
     margin: 30px 0;
}
.footer-text{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: white;
}
.m-26{
    margin: 26px 0;
}
.form-title{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: white;
}
.input-text{
     /* opacity: 0.6; */
     font-family: Helvetica;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #2e2e2e;
     background-color: white;
}
.submit-button{
    width: 245px;
    height: 40px;
    border-radius: 4px;
    background-color:#43b5ff;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
}
.custom-hr{
    background-color: #f9f9f9;
}
.footer-img{
    margin: 30px 10px;
}
.copyright{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: white;
}
@media only screen and (max-width: 768px) {
    .custom-row{
        padding: 0px;
    }
    .messi-div{
        height: 240px;
    }
    .ironman-img {
        height: 500px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 377px) {
    .box-title{
        font-family: Roboto;
        font-size: 12px;
    }
    .box-text{
        font-family: Roboto;
        font-size: 10px;
    }
    .box-image{
         width: 36px;
         height: 36px;
    }
    .box{
        height: 200px;
        padding: 16px;
    }
}
@media only screen and (max-width: 376px) {
    .messi-img {
        width: 100%;
        height: 156px;
        margin-bottom: 20px;
    }
    .messi-div {
        height: 156px;
    }
    .iphone-flex {
        display: flex;
    }
    .messi-div img{
        width: 80px;
    }
    .mr-20px {
        margin-right: 20px;
    }
    .background-text{
        font-size: 30px;
    }
    .background-button{
        font-size: 20px;
        padding: 0 30px;
    }
}