.top-nav{
    background-color: transparent!important;
    position: absolute;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, #1c1c1c, rgba(0, 0, 0, 0));
}
.auth-top-nav {
    background-color: #2e2e2e !important;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, #1c1c1c, rgba(0, 0, 0, 0));
}
.navbar-logo-text{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none!important;
}
.navbar-logo-text:hover{
    color: #ffffff;
}
.sign-in {
    height: 18px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
     color: #ffffff;
    text-decoration: none !important;
    margin-right: 70px;
}
.sign-in:hover {
    color: #ffffff;
}
.sign-up{
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: #43b5ff;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.auth-user{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: white;
}
.auth-user .dropdown-toggle {
      color: white;
}
.auth-user .dropdown-menu{
    right: 0px;
    left: auto;
}
.auth-user .dropdown-menu a {
     font-family: Helvetica;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.71;
     letter-spacing: normal;
}
.auth-user div {
    color: black;
}
@media only screen and (max-width: 376px) {
    .sign-in {
        margin-right: 15px;
    }
    .sign-up {
        width: 90px;
    }
}